.truckSection {
    padding-top: 48px;
}

.wrapperItem {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.title,
.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
}

.starIcon {
    fill: #FFC531;
}

.truckGallery {
    display: flex;
    gap: 48px;
    margin-top: 28px;
}

.truckGalleryItem {
    border-radius: 10px;
    width: calc((100% - 2 * 24px) / 3);
    height: 312px;
    box-shadow: 2px 4px 6px #dadde1;
}

.truckGalleryImg {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.description {
    color: #475467;
    margin-top: 28px;
    margin-bottom: 60px;
}